<br />
<h2 class="mb-3">My Projects</h2>
<br />

<div class="container">
  <div class="row">
    <div class="card" class="col-sm" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/00_platformer_game.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Platformer Game</h5>
        <p class="card-text">This is my first platformer game, it is a game in universe and you have to fix your ship.</p>
        <a href="https://priceless-benz-130b5f.netlify.app" target="_blank" class="btn btn-primary">Go To Game</a>
      </div>
    </div>

    <div class="card" class="col-sm" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/01_laberyth_game.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Labyrinth Game</h5>
        <p class="card-text">This is not my better game but I love it because is my first game.</p>
        <a href="https://juliancanodev.github.io/0x03-unity-ui/" target="_blank" class="btn btn-primary">Go To Game</a>
      </div>
    </div>

    <div class="card" class="col-sm" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/02_video_360.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Platformer Game</h5>
        <p class="card-text">This is my first 360 video project and was very funny to develop, it is a VR project and you can install it in your android phone.</p>
        <a href="https://drive.google.com/file/d/1fRVX_ba5XR9vfibwu7xxQEQTdpIjQXW1/view?usp=sharing" target="_blank" class="btn btn-primary">Download APK</a>
      </div>
    </div>
</div>
</div>
